.vs/
ECS/x64/*
Core/x64/
Core/.vs/
Core/*.vsxproj
Core/*.vsxproj.filters
x64/*
DoorsEngineEditor/
ImGui/x64/
Lib/x64/
packages/
ImageRender/x64

Core/data/models/stalker/
Core/data/models/trees/

Core/ECS_Log.txt

Core/*.fxo